* {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* ***************Header************* */
.header {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  color: white;
  font-size: xx-large;
}

h3 {
  color: white;
  font-size: small;
  text-align: center;
}

.logo {
  width: 6rem;
}
/* ******hasta aca Header ************************** */
/* Menu de Navegacion */
.hover1:hover{
  background-color: crimson;
  border-radius: 10px;
  color: white;
  transition: all 1s;
} 
/* hasta aca Menu de Navegacion */     

h1 {
  color: crimson;
  font-size: xx-large ;
  font-weight: bold;
  color: white;
}

 .imgPrincipal {
  height: 650px; 
  padding: 10px; margin: 10px; border: 2px solid black; float: left; width: 1800px;

}
@media (max-width:993px) {
  .imgPrincipal {
      height: 200px;  
       }
    }  

.main {
  padding: 0 3rem;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.containerPrincipal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
/* desde aca Footer */
.colorButtom{
  background-color: crimson;
  border: black;
  color:white bold;
}


/* ****** Quienes Somos************* */
  
.quienesSomos p {
  border: crimson solid 2px;
  margin: 10px 10px 15px 10px 20px;
  padding: 180px;
  
}

/* Fin Quienes Somos */

/* **********************Ofertas************************** */

.imgCarrousel{
  margin: 5px;
  background-color: rgb(204, 202, 202);
  height: 700px;
  object-fit:scale-down;
}

.textoCarrousel{
  color: crimson;
}
/* ***********Formulario de Contacto************* */


/*GRID PARA LA TIENDA Y GALERIA MULTIMEDIA*/



.gridPadreMultimedia {
  margin: 0%;
  margin:200px;
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-auto-columns: auto auto;
  column-gap: 15px;
  row-gap: 15px; 
}

/************ GRID AREAS PARA LA TIENDA Y LA GALERIA MULTIMEDIA*************/

.card{
  margin: 0%;
  margin: auto;
  border-bottom: 10px;
}
        
        .hover2:hover{
          background-color: #a23238;
          color: white;
          height: 25px;
          height: 25px;
          transition: all 2s;
        }