* {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* ***************Header************* */
.header {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  color: white;
  font-size: xx-large;
}

h3 {
  color: white;
  font-size: small;
  text-align: center;
}

.logo {
  width: 6rem;
}
/* ******hasta aca Header ************************** */
/* Menu de Navegacion */
.hover1:hover{
  background-color: crimson;
  border-radius: 10px;
  color: white;
  transition: all 1s;
} 
/* hasta aca Menu de Navehacion */     

h1 {
  color: crimson;
  font-size: xx-large ;
  font-weight: bold;
  color: white;
}

 .imgPrincipal {
  height: 550px; 
  padding: 10px; margin: 10px; border: 2px solid black; float: left; width: 1800px;

}
@media (max-width:993px) {
  .imgPrincipal {
      height: 200px;  
       }
    }  

.main {
  padding: 0 3rem;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.containerPrincipal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
/* desde aca Footer */
.colorButtom{
  background-color: crimson;
  border: black;
  color:white bold;
}

/* .listaNavFooter {
  display: flex;
  font-size: 4rem;
}

* {
  padding: 0;
  margin: 0;
}

.footer1 {
  text-align: left;
  font-size: x-large;
}
.footer2 {
  text-align: right;
  font-size: x-large;
}

.listaNavFooter {
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-color: rgb(212, 88, 113);
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 5rem;
  flex-grow: 1;
}

@media (max-width:993px) {
  .footer1 {
      display: none; 
       }
    }   */
     /*fin footer */
/* ****** Quienes Somos************* */
.quienesSomos{
  border: crimson solid 3 px;
}
.quienesSomos p {
  margin: 10px 10px 15 px 10 px 20px;
  padding: 100px;
  border: 1px solid black;
}

/* Fin Quienes Somos */

/* **********************Ofertas************************** */

.imgCarrousel{

  height: 600px;
  width: 300px;
  object-fit: cover;
}
.textoCarrousel{
  color: crimson;
}
/* ***********Formulario de Contacto************* */


/*GRID PARA LA TIENDA Y GALERIA MULTIMEDIA*/


.gridPadreMultimedia {
  margin: 0%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: auto auto;
  column-gap: 15px;
  row-gap: 15px; 
  /* gap: 20px 5px; */
}

/************ GRID AREAS PARA LA TIENDA Y LA GALERIA MULTIMEDIA*************/


        
        .hover2:hover{
          background-color: #a23238;
          color: white;
          height: 25px;
          height: 25px;
          transition: all 2s;
        }