.header {
  background-color: crimson;
  display: flex;
  justify-content: center;
}
.header h1 {
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 2rem;
}
h2 {
  color: crimson;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand {
  text-decoration: none;
}

.hover1:hover {
  background-color: crimson;
  border-radius: 10px;
  color: white;
  transition: all 1s;
}

* {
  margin: 0;
  padding: 0;
  text-align: none;
  list-style: none;
}

/* ***************Header************* */

.imgPrincipal {
  max-height: 700px;
  padding: 10px; margin: 10px; border: 2px solid crimson; width: 1700px;
  margin-left: auto; 
  margin-right: auto;
 
}
/*responsive para seccion home*/
      @media (max-width:993px) {
        .imgPrincipal {
          height: 200px;  
            }
        }  


h3 {
  color: white;
  font-size: small;
  text-align: center;
}

.logo {
  width: 6rem;
}


.main {
  padding: 0 3rem;
}

.containerPrincipal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

/* desde aca Footer */
.colorButtom {
  background-color: crimson;
  border: black;
  color: white bold;
}

/* ****** Quienes Somos************* */
.subtitulo {
  text-align: center;
}

.quienesSomos {
  border: crimson solid 2px;
  margin: 10px 10px 15px 10px 20px;
  padding: 100px;
  text-align: center;
  font-size: x-large;
  text-align: center;
}

/* **********************Ofertas************************** */
.imgCarrousel {
  margin: 5px;
  background-color: rgb(204, 202, 202);
  height: 700px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.textoCarrousel {
  color: crimson;
}

/*GRID  GALERIA MULTIMEDIA*/
.PadreMultimedia {
  display: grid;
  margin: 30px;
  padding: 10px; 
  grid-template-columns: 400px 400px; 
  grid-template-rows: 200px 100px 40px 60px;
  justify-content: center;

}

@media (max-width: 993px) {
  .gridPadreMultimedia {
    grid-template-columns: 1fr;
  }
}
/************ TIENDA *************/
.p-tienda {
  text-align: center;
}

.card {
  margin: auto;
}

.hover2:hover {
  background-color: #a23238;
  color: white;
  height: 25px;
  height: 25px;
  transition: all 2s;
}

/*form contacto*/
.contenedorFC{
  max-height: 700px;
  padding: 10px; margin: 10px; border: 2px solid crimson; width: 1700px;
  margin-left: auto; 
  margin-right: auto;

}

/* .fondoBody{
  background-image: url(Img/valleDeUco.jpg);
  background-color: transparent;
} */